$mainColor :  #74ACDF;
$bgColor : rgb(238, 238, 238);

@mixin flexbox ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }

.todolist__container {
  height : 100vh;
  padding : 70px 20px;
  background-color: #74ACDF;
  width : 100%;

  .row {
    width : 100%;

    .todoItem {
      width : 100%;
      display: flex;
      margin : 10px 0px ;
      border : 2px solid black;
      div {
        @include flexbox(center, center)
      }
    }
  }

}