$mainColor :  #74ACDF;
$bgColor : rgb(238, 238, 238);

@mixin flexbox ($justify, $align){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.App {
  text-align: center;
  position: relative;
  @include flexbox(center, none);
  padding-top: 60px;
}

.navbar__container {
  position : fixed;
  top : 0;
  height : 60px;
  box-shadow: 1px 1px 10px 3px rgb(196, 196, 196);
  padding : 0px 20px;
  z-index: 100;
  background-color: $bgColor;
}


