@mixin flexbox ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  


.loginContainer {
    padding :  10%;

    header {
        font-size: 2rem;
        margin-bottom: 10%;

        img{
            margin-right : 5%
        }
    }

    input {
        margin-bottom: 5%;
    }

    .loginButton {
        width : 100%;
        margin-bottom: 5%;
    }
    
}
.registerContainer {
    padding :  10%;

    header {
        font-size: 2rem;
        margin-bottom: 10%;

        img{
            margin-right : 5%
        }
    }
    
    label {
        margin-bottom: 5%;
        display: flex;
    }

    input {
        margin-bottom: 5%;
    }
    button {
        margin-bottom : 5%;
    }

    .regitserButton {
        width : 100%;
        margin-bottom: 5%;
    }
    
    .backButton {
        font-size: 2rem;
        position : absolute;
        top : 5%;;
        left : 8%;
    }
    .backButton:hover {
        cursor: pointer;
    }
    
}