@mixin flexbox ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  
.registerContainer {
    padding : 0px 8%;
    position : relative;

    header {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    label {
        margin-bottom: 5%;
        display: flex;
    }

    .registerButton {
        width : 100%;
    }

    .backButton {
        font-size: 2rem;
        position : absolute;
        top : 0;
        left : 8%;
    }
    
}

.loginContainer {
    padding : 0px 8%;

    header {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    input {
        margin-bottom: 5%;
    }

    .loginButton {
        width : 100%;
        margin-bottom: 5%;
    }
    
}